<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @subcategory.title %>
</p>

<p>
  <b>Description:</b>
  <%= @subcategory.description %>
</p>

<p>
  <b>Alias:</b>
  <%= @subcategory.alias %>
</p>

<p>
  <b>Category:</b>
  <%= @subcategory.category.title %>
</p>


<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
