<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br />
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :fees %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.collection_select :category_id, Category.find(:all, :order => :title), :id, :title, {:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label :subcategory %><br />
    <%= f.collection_select :subcategory_id, Subcategory.find(:all, :order => :title), :id, :title, {:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
